:root {
  --back: rgb(249, 253, 208);
  --backLight: rgba(131, 132, 122, 0.7);
  --light: #d4dadc5e;
  --lighter: #d4dadc;
  --dark: #000000;
  --backOpaque: #ffffff99;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  --bigger: 25px;
  --title: 20px;
  --subtitle: 15px;
  --text: 13px;
}

/* Regular */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Extra Light */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Extra Light Italic */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Italic */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Thin */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Thin Italic */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/IBM_Plex_Mono/IBMPlexMono-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.uni::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.uni {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.visualization-navigator::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.visualization-navigator {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: var(--back);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBMPlexMono";
}

p {
  font-weight: 400;
  font-size: var(--text);
}

b {
  font-style: normal;
  font-weight: 700;
}

i {
  font-style: italic;
  font-weight: 400;
}

button {
  cursor: pointer;
}

#latests span {
  margin-right: 15rem;
}

.corpus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  top: 0;
  position: fixed;
  width: 100%;
}

#backMenu {
  transition: background-color ease 2s;
  background-color: #f9feced4;
  filter: blur(60px);

  height: 240px;
  width: 115%;
  position: absolute;
  z-index: -2;
}

.internMenu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#fakeMenuBackground {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animate__slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.animate__slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.animate__slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

#menu,
#menu-mobile {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 10;
  width: 100%;
  justify-content: space-around;
  /* flex-direction: column; */
}

#menu-mobile {
  display: none;
  z-index: 998;
}

#menu b a,
#menu-mobile b a {
  background-color: var(--light);
  color: var(--dark);
  border-radius: 4rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;

  text-decoration: none;
  color: unset;
}

a.selected,
#menu b a:hover,
.indicators_dropdown div select:hover,
button:hover,
.model:hover,
.dataset:hover {
  background-color: var(--dark) !important;
  color: var(--lighter) !important;
}

.model:nth-child(1) {
  background-color: white !important;
  color: unset !important;
}

.burger {
  height: 10em;
  display: flex;
  align-items: center;
  transition: all ease-in-out 1s;
  gap: 1.5rem;
  z-index: 100;
  left: 51%;
  cursor: pointer;
  position: relative;
}

.burger span {
  margin-left: 2rem;
  transition: all ease-in-out 1s;
}

.blackDot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;

  background: black;
}

.start {
  position: absolute;
  left: -1.5%;
  z-index: 12;
}

.back {
  position: absolute;
  z-index: -1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back img {
  width: 80%;
}

#slide-update {
  display: flex;
  align-items: center;
  font-style: "italic";
  text-transform: lowercase;
  width: 90%;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}

.footer {
  z-index: 0;
  width: 50%;
}

.header-mobile {
  display: none;
}

.description-platform {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.description-platform p {
  width: 85%;
  font-size: 50px;
  margin-top: -3rem;
}

.void {
  height: 20%;
}

/* map */

#map {
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  display: block;
  width: 100vw;
}

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 25%;
}

#layers {
  display: none;

  padding: 1rem;
  height: 80vh;
  background: var(--backOpaque);
  border-radius: 1rem;
  width: 100%;
  overflow-y: scroll;
}

#info-box {
  padding: 1rem;
  background: var(--backOpaque);
  border-radius: 1em;
  z-index: 9999;
  width: 100%;
  height: 1rem;
  font-weight: 700;
  font-size: var(--subtitle);
  display: flex;
  align-items: center;
}

.dataset {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1em;
}
.dataset span,
.model {
  font-weight: 600;
  font-size: var(--subtitle);
}

.dataset p {
  font-size: var(--text);
  font-weight: 400;
  line-height: 1rem;
}

.selected-data {
  border-radius: 1rem;
  border: 0.1px lightblue solid;
  background-color: grey;
}

/* visualization */

#visualization-dashboard {
  width: 94vw;
  height: 80vh;
  top: 5vh;
    position: absolute;
  margin-left: 3vw;
  display: flex;
}

.visualization-navigator {
  width: 20%;
  padding: 2vw;
  overflow-y: scroll;
}

.visualization {
  width: 80%;
  height: 100%;
}

.visualization-title {
  width: 25%;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  height: 7em;
}

.visualization img {
  width: 100%;
  height: 100%;
  padding-top: 2vw;
}

.kind-visualization,
.dataset-visualization,
.news-contents {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.kind-visualization .model,
.news-contents .model {
  background-color: var(--backOpaque);
  padding-left: 1vw;
  border-radius: 1rem;
}

.dataset-visualization .title,
.kind-visualization .title,
.news-contents .title {
  background-color: white;
  padding-left: 1vw;
  border-radius: 1rem;
}

.dataset-visualization .dataset {
  border: none;
  background-color: var(--backOpaque);
  margin-top: 0;
}

.selected-viz {
  border: solid var(--dark) 1px;
  /* color: var(--lighter) !important; */
}

/* blog */

#blog {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
#blog hr {
  width: 90%;
  margin: 2% 5%;
}

.article {
  display: flex;
  width: 90%;
  margin: 0 5%;
  gap: 5rem;
  align-items: start;
}

.blog-image {
  width: 25%;
}

.blog-download-pdf {
  width: 100%;

  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: none;
  border-radius: 1em;
  padding: 0.3rem 1rem;
}

.button-ext {
  /* background: white; */
  border: none;
  border-radius: 1em;
  padding: 0.3rem 1rem;
  font-weight: 700;
}

.blog-download-pdf:hover {
  cursor: pointer;
}

/* .link-blog-download-pdf:hover {
   filter: invert()
  } */

.blog-download-pdf img {
  height: 15px;
}

.blog-info {
  width: 70%;
}

.blog-info p {
  font-weight: 500;
}

.blog-date {
  font-size: var(--subtitle);
  font-weight: 600;
}

.title {
  font-weight: 500;
  font-size: var(--title);
}

.blog-image {
  width: 45%;
  object-fit: cover;
}

/* about */

.colophon {
  margin: 2.5% 5%;
  font-size: var(--bigger);
  font-weight: 300;
  display: block;
  line-height: 1.8rem;
}

.margin {
  width: 90%;
  margin: 2% 5%;
}

.chapter {
  display: block;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 1rem;
  align-items: start;
}

.column {
  display: flex;
  flex-direction: column;
}

.units {
  gap: 4rem;
  margin-left: 5vw;
  width: 90vw;
  margin-bottom: 5rem;
}

.portrait {
  width: 15vw;
}

.portrait span {
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

.portrait img {
  width: 90%;
}

.logo-container {
  min-width: 20%;
}

.logo {
  width: 12.5vw;
}

/* news */

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90vw;
  margin-left: 5vw;
}

.news-contents {
  width: 27%;
}

.button-ext {
  height: fit-content;
}

.news-header .visualization-title {
  margin: unset;
}

span.model {
  cursor: pointer;
}

.news-ext {
  width: 50%;
  justify-content: space-between;
}

.info-news span {
  font-size: var(--text);
  font-weight: 700;
  text-transform: uppercase;
}
.blog-image .title {
  display: block;
  padding: unset;
}

.blog-image img {
  width: 100%;
  margin-top: 3rem;
}

.news-contents {
  width: 100%;
  margin: 3rem 0;
  font-size: var(--text);
}

.article.news p {
  margin: unset;
}

/* .blog-download-pdf.button-ext{background-color: transparent;} */

.link-blog-download-pdf {
  width: 50%;
  height: fit-content;
  text-decoration: none;
  border-radius: 1rem;
  background-color: white;
}

#loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;
}
#loadingSpinner img {
  width: 50px; /* Adjust size as needed */
}

tr {
  border: red 10px solid;
}

th,
td {
  font-weight: 700;
  font-size: var(--text);
  border: none;
}
#data-table th {
  text-align: left;
}
th,
td {
  border: none;
  padding: 5px;
}

td {
  width: 100%;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }

  body {
    background-image: url(assets/back-mobile.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center 150px;
  }

  .blackDotContainer {
    position: absolute;
    display: block;
    bottom: 5rem;
    width: 100%;
    display: flex;
    z-index: 99;
    justify-content: center;
  }

  .layeredBack {
    width: 100%;
    height: 100%;
    background: #fffedcc2;
    position: absolute;
    z-index: 998;
    top: 0;
    display: none;
  }

  .back {
    display: none;
  }
  #menu {
    display: none;
    z-index: 999;
  }
  .desktop {
    display: none !important;
  }

  .back {
    overflow: hidden;
  }

  .corpus {
    height: 100vh;
    position: fixed;
  }

  .footer,
  #slide-update {
    display: none;
  }

  .description-platform p {
    font-size: var(--bigger);
  }

  .header-mobile {
    position: absolute;
    top: 1rem;
    display: inline;
    width: 90%;
    z-index: 8;
  }

  .back img {
    rotate: 90deg;
    width: 100%;
  }

  .alert {
    bottom: 10rem;
    position: absolute;
    text-align: center;
    width: 90%;
    margin: 0 5%;
    font-weight: 600;
    font-size: var(--text);
  }

  .corpus {
    position: absolute;
    display: flex;
    height: 100%;
  }

  .desktop {
    display: none;
  }

  #menu {
    flex-direction: column;
    gap: 3rem;
    display: none;
  }

  .back {
    scale: 1.7;
  }
  .info-news span {
    color: grey;
  }

  .blog-image img {
    margin-top: unset;
  }

  .button-ext {
    font-size: 12px;
    background-color: white;
  }
  .news {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .blog-image {
    width: 100%;
  }

  .clickMenu {
    display: none;
  }

  #backMenu {
    display: none;
  }

  #menu-mobile {
    display: none;
    gap: 3rem;
    flex-direction: column;
    bottom: 40%;
  }

  .colophon {
    margin: 10%;
    font-size: var(--text);
    line-height: 16px !important;
  }

  .chapter {
    margin: 10%;
    font-size: var(--text);
  }

  .logo-container {
    display: none;
  }

  .units {
    margin-left: 10%;
  }

  .visualization-title {
    display: none;
  }
  
  .title {
    font-size: 10px;
  }
  

  .row {
    display: flex;
    gap: 3rem;
    overflow-x: scroll;
    padding: 1rem 0;
  }

  .portrait img {
    width: 100px;
  }

  .uni {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .uni span,
  .portrait span {
    font-size: 9px;
    line-height: 9px;
  }

  .portrait span {
    font-weight: 700;
  }

  .about{
    width: 600px;
    height: 600px;
    filter: blur(15px);
    border-radius: 50%;
  }

  .fixed{
    position: fixed !important
  }

  .tondo{
    filter: blur(25px);
    background: rgba(249, 253, 208, 0.75);
    width: 550px;
    height: 600px;
    border-radius: 50%;
    margin-bottom: -80%;
    z-index: 0;
}

  .flex{
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 3rem
  }

  .description-platform p{
    margin-top: 15rem;
  }

  .news-contents {
    width: 100%;
  }
  
}
